<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cartisan.system.queries.DepartmentQueryMapper">
    <select id="getDepartmentTreeNodes" resultType="com.cartisan.system.dtos.TreeNode">
        select id, name, parent_id as parentId from sys_departments order by sort asc
    </select>

</mapper>
