<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cartisan.system.queries.UserQueryMapper">
    <select id="existsUserInDepartment" parameterType="java.lang.Long" resultType="java.lang.Boolean">
        select exists(select 1 from sys_user_departments where department_id = ${departmentId});
    </select>

</mapper>
